.tableData {
  table {
    color: #8a8989;
    border: 1px solid #8a8989;
    padding: 1rem;
    border-collapse: collapse;

    th, td {
      border: 1px solid #8a8989;
      padding: 1rem;
      text-align: center;
    }
  }
}
